*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*UTILITY*/
.widht-btn{
  width: 66%;
}
img{
  width: 100%;
}
:root{
  --fake-btn: #0061ff;
  --clr-hero: #b4d0e7;
  --clr-footer: #000000;
  --clr-white: #ffffff;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.margin-top-big{
  padding-top: 110px;
}
.margin-top-small{
  margin-top: 50px;
}
.container-big{
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.container-small{
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}
.flexing{
  display: flex;
}
.font-big{
  font-size: 3.5rem;
}


/*HEADER*/

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.top-ul li{
  margin-right: 10px;
  padding: 5px;
}
header{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.head-er{
    width: 100%;
  background-color: var(--clr-white);
  height: 50px;
}
.top-ul{
  padding: 4px;
  justify-content: space-between;
  align-items: center;
}
.top-ul ul li a{
  color: var(--clr-footer);
}
.fake-btn{
  color: var(--clr-white);
  background-color: var(--fake-btn);
  padding: 4px 7px;
}
.hero-color{
  max-height:570px ;
  background-color: var(--clr-hero);
}
.hero-text{
  width: 48%;
}
.hero-img{
  position: relative;
  width: 100%;
}
.hero-img img{
  position: absolute;
}
.hero-text p{
  font-size: 0.8rem;
  margin-bottom: 16px;
}

.hero-text i{
  margin: 25px 0px 10px 0px;
  font-size: 2rem;
}
.colm-ul{
  display: inline-block;
}
.table{
  display: flex;
justify-content: space-between;
}
.icon-alone{
  text-align: center;
}