*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
/*UTILITY*/
.border-gray{
  border: 1px solid gray;
}
.widht-btn{
  width: 66%;
}
img{
  max-width: 100%;
}
:root{
  --fake-btn: #0061ff;
  --clr-hero: #b4d0e7;
  --clr-footer: #000000;
  --clr-white: #ffffff;
  --clr-gray: #707070;
  --clr-violet: #8256a9;
}
.text-gray{
  color: var(--clr-gray);
}
.text-violet{
  color: var(--clr-violet);
}
.blu-text{
  color: var(--fake-btn);
}
.margin-top-big{
  padding-top: 110px;
}
.margin-top-small{
  margin-top: 60px;
}
.container-big{
  max-width: 800px;
  margin: 0 auto;
}
.container-small{
  max-width: 700px;
  margin: 0 auto;
}
.flexing{
  display: flex;
}
.font-big{
  font-size: 3.5rem;
}
.fake-btn{
  color: var(--clr-white);
  background-color: var(--fake-btn);
  padding: 4px 7px;
}
.fake-btn-par{
  color: var(--clr-footer);
  background-color: var(--clr-white);
  padding: 4px 7px;
  border: 1px solid black;
  width: 58%;
}
.hr-separation{
  width: 55px;
  border: 1px solid gray;
  margin: 50px 0px;
}
/*HEADER*/


ul{
  list-style: none;
}
header a{
  text-decoration: none;
}
.top-ul li{
  margin-right: 10px;
  padding: 5px;
}
.top-ul li img{
  min-width: 130px;
}
header{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.head-er{
  width: 100%;
  background-color: var(--clr-white);
}
.top-ul{
  padding: 4px;
  justify-content: space-between;
  align-items: center;
}
.top-ul ul li a{
  color: var(--clr-footer);
}

/*HERO*/

.hero-color{
  min-height:580px ;
  background-color: var(--clr-hero);
}
.hero-text{
  width: 48%;
}
.hero-img{
  position: relative;
  width: 100%;
}
.hero-img img{
  position: absolute;
}
.hero-text p{
  font-size: 0.8rem;
  margin-bottom: 16px;
}

.hero-text i{
  margin: 25px 0px 10px 0px;
  font-size: 2rem;
}

/*SECTION BUSINESS*/
.check{
  margin: 30px 0;
}
.check span{
  margin-right: 20px;
}
.colum{
  padding-bottom: 20px;
  width: 32%;

}
.colum-ul{
  padding: 10PX;
}
.icon-alone{
  border-bottom: 1px solid gray;
}
.table{
  display: flex;
  justify-content: space-between;
}

.icon-alone{
  text-align: center;
}

.colum-ul i{
  margin-right: 5px;
}

.colum-ul li{
  margin: 20px 0px 0px 0px;
}
.h1-btn{
  justify-content: space-between;
}

.enterprise{
  margin-top: 30px;
}
.content-enterprise{
  padding: 30px;
}
.contatto-img{
  width: 60%;
}
.contatto-txt{
  width: 40%;
  padding: 17px;
}
a.fake-btn-par{
  text-decoration: none;
}
.contatto-txt p{
  margin: 20px 0px;
}
.card{
  padding-right: 10px;
  width: calc(100% / 3);
}
.cards{
  display: flex;
  flex-wrap: wrap;
}
p{
  font-size: 0.7rem;
}
.card p{
  margin-top: 20px;
}
.margin-h2-team{
  margin: 100px 0px 42px 0px;
}

.team{
  display: flex;
}
.ratio{
  aspect-ratio: 1/1;
}
.team-logo{
  width: 40%;
}
.txt-team{
  width: 20%;
}
